.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 149px;
    height: 36.23px;
    margin-left: -30px;
    margin-right: 35px;
}
.mobile-nav-item {
    display:none;
}
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;

    padding: 0px 65px 0px 65px;
    gap: 40px; 
}

.nav-links li a {
    text-decoration: none;
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.auth-buttons {
    display: flex;
    gap: 40px; 
    padding-left: 40px;
    margin-right: -45px;
    align-items: center
}

.sign-in {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap; 
    flex-shrink: 0; 
  
}

.sign-up {
    border: 1px solid #F53855;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    color: #F53855;
    text-decoration: none;
    font-weight: 500; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu {
    display:none;
    width:32px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hidden {
        display: none;
    }
    #menu-icon {
        width: 24px; 
        height: 24px; 
        transition: opacity 0.3s ease;
    }

    .open #menu-icon {
        opacity: 0;
    }

    .show {
        display: inline;
    }
    
    .header-menu {
        display: block;
        width: 42px;
        cursor: pointer;
    }
   
    .auth-buttons, .nav-links {
        display: none; 
    }
    .mobile-nav-item, .mobile-nav-item {
       display:block;
    }
    .nav-links li:last-child a {
        color: #F53855; 
    }
    .nav-links {
        display: flex;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        background-color: #fff;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
        height: 100%;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }
    nav {
        width: 100%;
        display: fixed;
    }
    .logo {
    display: flex;
    align-items: center;
    }
    .logo-image {
        width: 149px; 
        padding-left: auto;
        margin-left: auto;
    }
    .nav-item a {
        font-size: 24px;
        font-weight: 500;
        display: block;
    }
    .nav-item{
        align-items: flex-start;
    }
    .nav-links.open {
        clip-path: circle(3000px at top);
    }
    .nav-links li a {
        font-size: 18px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-menu {
        display: block;
        width: 32px;
        cursor: pointer;
        margin-left: auto; 
        padding-top: 3px;
    }
     .nav-links {
        display: none; 
    }
    .nav-links {
        display: flex;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        background-color: #fff;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }
    nav {
        width: 100%;
        display: fixed;
    }
    .logo {
    display: flex;
    align-items: center;
    }
    .logo-image {
        width: 149px; 
        margin-left: 10px;
        margin-right: 0; 
    }
    .nav-item a {
        font-size: 24px;
        font-weight: 500;
    }
    .auth-buttons {
        display: flex;
        gap: 30px; 
        margin-right: auto;

        padding-left: auto;
    } 
    .sign-up {
        border: 1px solid #F53855;
        width: 120px;
        height: 40px;
    }
    .nav-links.open{
        clip-path: circle(1000px at top);
    }
    .mobile-nav-item, .mobile-nav-item {
        display:block;
     }
     .nav-links li:last-child a {
         color: #F53855; 
     }
     .nav-links li a {
        font-size: 28px;
    }
}
