.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 87px 103px 125px 165px;
    font-family: Rubik;
  

}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    max-width: 520px;
}

.hero-text p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    color: #4F5665;;
    line-height: 30px;
}
.button-shadow {
    position: absolute;
    width: 250px;
    padding-top: 15px;
    height: 13px;
    border-radius: 10px;
    background: rgba(245, 56, 56, 0.95);
    filter: blur(27px);
    z-index: 0;
}
.hero-text button {
    padding: 10px 20px;
    z-index: 1; /* Кнопка зверху */
    background-color: #F53838;
    color: white;
    color: #FFF;
    font-family: Rubik;
    font-style: normal;
    line-height: 25px; 
    height: 60px;
    font-weight: 700;
    width: 250px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 16px;
}

.hero-image img {
    width: 611.24px;
    height: 406.08px;
    max-width: 100%;
}
